@import '../_variables.scss';

.article {
	&__thumbnail {
		width: 100%;

		img {
			width: 100%;
		}
	}

	&__body {
		margin: $baseline 0;
		padding: $baseline * 1.5;

		.title {
			font-size: $baseline * 1.8;
			line-height: $baseline * 2;
		}
	}
}
