@import '../_variables.scss';
@import '../_mixins.scss';

.meta {
	color: lighten($color, 10%);
	font-size: $fontSize * 0.8;
	margin-bottom: $baseline * 0.5;

	&--empty {
		@include empty;
		height: $baseline * 0.5;
		width: 40%;				  
	}
	
	&__author {
		margin-right: $baseline * 0.2;
	}

	&__date {
		color: lighten($color, 20%);
	}
}
