@import '../_variables.scss';
@import '../_mixins.scss';

.title {
	font-weight: bold;
	color: darken($color, 10%);

	&--empty {
		@include empty;
		height: $baseline;
		margin-bottom: $baseline * 0.5;
		width: 80%;				  
	}

	a {
		color: inherit;
	}
}
