body {
  color: #444;
  font-family: "Roboto", sans-serif, Arial;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0;
  padding: 50px 0 0; }

footer {
  color: #777777;
  font-size: 12.8px;
  padding: 16px;
  text-align: center; }

a {
  color: #E3475E;
  text-decoration: none; }

hr {
  border: 1px solid #eee; }

pre {
  background: #efefef;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 4.8px 16px;
  white-space: pre-wrap;
  word-wrap: break-word; }

#app {
  min-height: 300px; }

.page {
  box-sizing: border-box;
  margin: auto;
  position: relative; }
  @media (min-width: 768px) {
    .page {
      width: 560px; } }

.feeds {
  margin: 16px 0; }
  @media (min-width: 768px) {
    .feeds {
      margin: 32px 0; } }

.search-box {
  border: 1px solid #ddd;
  border-radius: 50px;
  color: #5e5e5e;
  display: block;
  font-size: 12.8px;
  margin: 16px auto;
  padding: 12.8px 16px;
  width: 80%; }
  .search-box:focus {
    outline: none; }
  @media (min-width: 768px) {
    .search-box {
      margin: 32px auto 16px; } }

.navbar {
  background: #E3475E;
  box-sizing: border-box;
  color: #fff;
  height: 50px;
  line-height: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }
  .navbar__inner {
    box-sizing: border-box;
    height: 100%;
    margin: auto;
    position: relative; }
    @media (min-width: 768px) {
      .navbar__inner {
        width: 560px; } }
  .navbar__title {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 16px;
    text-align: center;
    width: 100%; }
  .navbar__button {
    background: #E3475E;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    height: 100%;
    padding: 16px;
    position: absolute;
    text-decoration: none;
    top: 0;
    z-index: 1; }
    .navbar__button:hover {
      background: #e0314b; }
    .navbar__button--left {
      left: 0; }
    .navbar__button--right {
      right: 0; }

.feed {
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
  display: block;
  height: 200px;
  margin-bottom: 8px;
  padding: 16px;
  position: relative;
  text-decoration: none;
  width: 100%; }
  .feed__thumbnail {
    background: #ddd;
    box-sizing: border-box;
    float: left;
    height: 80px;
    margin-right: 16px;
    overflow: hidden;
    position: relative;
    width: 80px; }
    .feed__thumbnail img {
      height: 100%; }
  .feed__info {
    box-sizing: border-box;
    display: block;
    height: 100%;
    opacity: 0.8;
    overflow: hidden; }
  .feed:hover .feed__info {
    opacity: 1; }

.title {
  font-weight: bold;
  color: #2b2b2b; }
  .title a {
    color: inherit; }

.meta {
  color: #777777;
  font-size: 12.8px; }
  .meta__author {
    margin-right: 3.2px; }
  .meta__date {
    color: #aaaaaa; }

.content {
  padding-top: 8px;
  word-wrap: break-word; }
  .content img {
    width: 100%; }

.article__thumbnail {
  width: 100%; }
  .article__thumbnail img {
    width: 100%; }

.article__body {
  margin: 16px 0;
  padding: 24px; }
  .article__body .title {
    font-size: 28.8px;
    line-height: 32px; }

.list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list__item {
    padding: 11.2px 16px; }
    .list__item--hidden {
      display: none;
      padding: 0; }

.text-header {
  display: block;
  font-weight: bold;
  margin-top: 16px;
  padding: 16px;
  text-align: center; }
