$baseline: 16px;

$fontFamily: 'Roboto', sans-serif, Arial;
$fontSize: $baseline;
$lineHeight: $baseline * 1.4;

$color: #222;
$primaryColor: #DE3047;
$lineColor: #eee;

$navBarHeight: 50px;
$feedHeight: 200px;
$feedThumbnailSize: 80px;
$appWidth: 560px;
