$baseline: 14px;

$fontFamily: Arial, sans-serif;
$fontSize: $baseline;
$lineHeight: $baseline * 1.3;

$color: #444;
$primaryColor: #E3475E;
$lineColor: #eee;

$navBarHeight: 50px;
$feedHeight: 200px;
$feedThumbnailSize: 80px;
$appWidth: 560px;
