$baseline: 14px;

$fontFamily: Arial, sans-serif;
$fontSize: $baseline;
$lineHeight: $baseline * 1.3;

$color: #444;
$primaryColor: #E3475E;

$navBarHeight: 50px;
$feedHeight: 110px;
$feedThumbnailSize: 80px;
