@keyframes glowing {
	0% {
		background-position: 200% 0%;	  
	}
	  
	25% {
		background-position: 150% 0%;	  
	}
	  
	50% {
		background-position: 100% 0%;	  
	}
	  
	75% {
		background-position: 50% 0%;	  
	}
	  
	100% {
		background-position: 0% 0%;	  
	}
}
