@import './_variables.scss';

body {
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: $lineHeight;
	margin: 0;
	padding: $navBarHeight 0 0;
}

footer {
	color: lighten($color, 20%);
	font-size: $baseline * 0.8;
	padding: $baseline;
	text-align: center;
}

a {
	color: $primaryColor;
	text-decoration: none;
}

hr {
	border: 1px solid $lineColor;
}

pre {
	background: #efefef;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding: $baseline * 0.3 $baseline;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#app {
	min-height: 300px;
}

.page {
	box-sizing: border-box;
	margin: auto;
	position: relative;

	@media (min-width: 768px) {
		width: $appWidth;
	}
}

.feeds {
	margin: $baseline 0;

	@media (min-width: 768px) {
		margin: $baseline * 2 0;
	}
}

.search-box {
	border: 1px solid #ddd;
	border-radius: 50px;
	color: lighten($color, 10%);
	display: block;
	font-size: $fontSize;
	margin: $baseline auto;
	padding: $baseline * 0.8 $baseline;
	width: 80%;

	@media (min-width: 768px) {
		margin: $baseline * 2 auto $baseline;
	}
}
